<h2><%= @title %></h2>
<br>
<%= form_tag "/", method: :get do %>
  <div>
    City: <%= text_field_tag :city %>
    State: <%= text_field_tag :state %>
    <%= submit_tag "Submit" %>
  </div>
<% end %>

<br>
<h3>Current Temperature: <%= @current_temp %> F</h3>

<h3>Five Day Forecast:</h3>
<% @forecast_days[0..4].each do |day|%>
  <h4><%= day["date"] %>, <%= day["day"] %></h4>
  <p>High: <%= day["high"] %></p>
  <p>Low: <%= day["low"] %></p>
  <p><%= day["text"] %></p>
  <br>
<% end %>
